@import '../../../layout/styles-config';

.wrapper {
  width: 100%;
}

.userList {
  @include flex($direction: column, $justify: center);
  width: 100%;
}

.titleWrapper {
  width: 100%;
  @include flex($justify: center);
  border-bottom: 1px dotted $del-rio;
  border-top: 1px dotted $del-rio;

  .title {
    margin-bottom: 5px;
    padding: 5px 0;
    width: 50%;
    @include font($size: 24px, $weight: bold, $align: center);
  }
}

.scoreCard {
  padding: 10px;
  width: 120px;
  height: 75px;
  @include flex($justify: center);
  box-shadow: $card-shadow;
  border-radius: $card-radius;
  span {
    font-size: 16px;
  }
}

.cardWrapper {
  margin: 10px;
  @include flex($justify: center);
}

.cardsWrapper {
  @include flex($wrap: wrap, $justify: center);
}
