@import '../../layout/styles-config';

.issueList {
  @include flex($direction: column, $align: flex-start);
  width: 100%;
  .title {
    @include font($size: 24px, $weight: bold);
    padding: 5px 0;
    margin-bottom: 15px;
    border-bottom: 1px dotted brown;
    border-top: 1px dotted brown;
    width: 100%;
  }
}
.issueCard {
  margin-bottom: 10px;
  padding: 20px;
  width: 300px;
  height: 75px;
  @include flex($justify: flex-start);
  box-shadow: $card-shadow;
  border-radius: $card-radius;
  @include flex($align: center, $justify: space-between);
}
.btnCreate {
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  background-image: url(../../assets/icons/icon__create.svg);
  &:hover {
    opacity: 0.5;
    transform: scale(1.1);
  }
}
