@import '../../layout/styles-config';

.statisticCard {
  margin-bottom: 10px;
  padding: 20px;
  width: 300px;
  height: 75px;
  @include flex($justify: flex-start);
  box-shadow: $card-shadow;
  border-radius: $card-radius;
  @include flex($align: center, $justify: space-between);
}
