@import '../../layout/styles-config';

.wrapper {
  position: relative;
  background-color: $white;
  width: 579px;
  min-height: 487px;
  overflow: auto;
  z-index: 150;
  padding: 30px;
}

.header {
  @include font($size: 3rem, $height: 75px, $weight: 700);
  text-align: left;
}
