@import '../../layout/styles-config';

.gameCard {
  width: 100px;
  height: 160px;
  @include flex($direction: column);
  box-shadow: $card-shadow;
  border-radius: $card-radius;
  span {
    font-size: 14px;
  }
}
.top {
  width: 90%;
  @include flex($justify: flex-start);
}
.btnEdit {
  width: 15px;
  height: 15px;
  background-image: url(../../assets/icons/icon__edit.svg);
}
.center {
  width: 50px;
  height: 50px;
  font-size: 35px;
  text-transform: uppercase;
}
.cardImg {
  width: 100%;
  height: 100%;
  background: url(../../assets/images/img__coffe.png) center no-repeat;
  background-size: contain;
}
.bottom {
  width: 90%;
  @include flex($justify: flex-end);
  span {
    transform: rotate(180dg);
  }
}
