@import '../../layout/styles-config';

.issueForm {
  width: 400px;
  height: 250px;
  padding: 20px;
  @include flex($direction: column, $align: flex-start);
  box-shadow: $card-shadow;
  border-radius: $card-radius;
  label {
    font-size: 16px;
  }
  input {
    outline: none;
    padding: 2px;
    margin-left: 50px;
  }
  select {
    padding: 2px;
    margin-left: 32px;
  }
  button {
    padding: 2px 15px;
  }
}
.title {
  width: 100%;
  text-align: center;
  font-weight: 700;
}
.btnContainer {
  width: 100%;
  @include flex();
}
