@import '../../layout/styles-config';

.game_page {
  @include flex($align: flex-start, $justify: flex-start, $direction: row);
  margin: 30px 0;
  width: 95vw;
  height: calc(100% - 190px);
  column-gap: 30px;

  &__side_bar {
    @include flex($align: center, $justify: flex-start, $direction: column);
    height: 100%;
    row-gap: 20px;
    background-color: $alto;
    padding: 10px;
    position: sticky;
  }

  &__content_wrapper {
    @include flex($align: center, $justify: space-between, $direction: row);
    height: 100%;
    column-gap: 10px;

    > * {
      flex-basis: calc(100% / 4);
    }

    > :nth-child(3) {
      flex-grow: 3;
    }
  }

  &__content_block {
    @include flex($align: center, $justify: space-between, $direction: column);
    row-gap: 20px;
    height: 100%;
    padding: 10px;
  }

  &__issue_list {
    height: 60%;
    overflow-y: auto;
    background-color: $light-green;
    padding: 8px;
  }

  &__cards_list {
    max-height: 80%;
    position: relative;
    overflow-y: auto;
  }

  &__statistics_cards {
    background-color: $alto;
    padding: 10px;
  }

  &__players,
  &__observers {
    height: 300px;
    overflow-y: auto;
  }
}
.link {
  margin: 5px;
  @include font($size: 1.5rem, $weight: 400);
  @include button($background: $dark-brown, $color: $white);
  min-height: 30px;
  padding: 0 10px;
  text-decoration: none;
  transition: all 0.2s linear;
  &:hover {
    @include button($background: $white, $color: $dark-brown);
  }
}

.game_statistics_bar {
  width: 100px;
  height: 100px;
  background-image: url(../../assets/images/statistics.png);
  cursor: pointer;
  opacity: 0.8;
}

.game_statistics_bar:hover {
  transform: scale(1.1);
  opacity: 1;
}

.game_round_status {
  width: 100px;
  height: 100px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 100px;
  letter-spacing: 2px;
  opacity: 0.7;

  &_active,
  &_inactive {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &_active {
    background-color: chartreuse;
  }

  &_inactive {
    background-color: rgb(255, 0, 0);
  }
}

.game_round_status:hover {
  opacity: 1;
}

.game_cardlist_plug {
  position: absolute;
  left: 0;
  top: 0;
  @include flex($justify: center);
  width: 100%;
  height: 100%;
  // transform: scale(1.03);
  z-index: 5;
  background-color: #795548;
  color: $white;
  opacity: 0.9;
  font-size: 45px;
}

// @media all and (max-width: 1500px) {
//   .game {
//     width: 65%;
//   }
// }

// @media all and (max-width: 900px) {
//   .game {
//     width: 90%;
//   }

//   .content > *:first-child {
//     @include flex($direction: column);
//   }
// }
