@import '../../layout/styles-config';

.game_page {
  @include flex($align: flex-start, $justify: flex-start);
  margin: 30px 0;
  width: 95vw;
  height: calc(100% - 190px);
  column-gap: 30px;

  &__side_bar {
    @include flex($align: center, $justify: flex-start, $direction: column);
    height: 100%;
    row-gap: 20px;
    background-color: $alto;
    padding: 20px;
    position: sticky;
    border-radius: $card-radius;
  }

  &__timer {
    @include flex();
  }
  &__content_wrapper {
    @include flex($align: flex-start);
    height: 100%;
    column-gap: 10px;

    > * {
      flex-basis: calc(100% / 4);
    }

    // > :nth-child(3) {
    //   flex-grow: 3;
    // }
  }

  &__content_block_cards {
    @include flex($align: center, $justify: space-between, $direction: column);
    row-gap: 20px;
    padding: 10px;
  }
  &__content_block_issue {
    @include flex($align: center, $justify: space-between, $direction: column);
    row-gap: 20px;
    padding: 10px;
  }
  &__content_block_users {
    @include flex($align: center, $justify: space-between, $direction: column);
    row-gap: 20px;
    padding: 10px;
  }

  &__issue_list {
    padding: 8px;
  }

  &__cards_list {
    max-height: 80%;
    position: relative;
    overflow-y: auto;
  }

  &__statistics_cards {
    background-color: $alto;
    padding: 10px;
  }

  &__statistics_pop_up {
    overflow-y: scroll;
  }
}
.link {
  margin: 5px;
  @include font($size: 1.5rem, $weight: 400);
  @include button($background: $white, $color: $dark-brown);
  min-height: 30px;
  padding: 0 10px;
  text-decoration: none;
  transition: all 0.2s linear;
  &:hover {
    @include button($background: $white, $color: $dark-brown);
  }
}
.titleRule {
  font-family: sans-serif;
  font-size: 13px;
}
.game_statistics_bar {
  width: 100px;
  height: 100px;
  background-image: url(../../assets/images/statistics.png);
  cursor: pointer;
  opacity: 0.8;
}

.game_statistics_bar:hover {
  transform: scale(1.1);
  opacity: 1;
}

.game_round_status {
  width: 100px;
  height: 100px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 100px;
  letter-spacing: 2px;
  opacity: 0.7;

  &_active,
  &_inactive {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &_active {
    background-color: chartreuse;
  }

  &_inactive {
    background-color: rgb(255, 0, 0);
  }
}

.game_round_status:hover {
  opacity: 1;
}

.game_cardlist_plug {
  position: absolute;
  left: 0;
  top: 0;
  @include flex($justify: center);
  width: 100%;
  height: 100%;
  background-color: #795548;
  color: $white;
  opacity: 0.9;
  @include font($size: 30px);
  font-family: sans-serif;
  z-index: 5;
}

@media all and (max-width: 1300px) {
  .game_page {
    flex-wrap: nowrap;
    &__content_wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__side_bar {
      position: fixed;
      flex-direction: column;
      height: fit-content;
      z-index: 5;
      row-gap: 0;
    }
    &__content_block_cards {
      flex-wrap: wrap;
      flex-direction: row;
      flex-basis: 100%;
      order: 3;
    }
    &__content_block_issue {
      flex-wrap: wrap;
      order: 1;
    }
    &__content_block_users {
      flex-wrap: wrap;
      order: 2;
    }
  }
}

@media all and (max-width: 1100px) {
  .game_page {
    flex-wrap: wrap;
    &__side_bar {
      width: 200px;
      position: fixed;
      flex-direction: row;
      height: fit-content;
      z-index: 5;
      background-color: transparent;
      grid-row-gap: 0;
      row-gap: 0;
    }
    &__content_wrapper {
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
    }
    &__content_wrapper {
      flex-direction: row;
      align-items: center;
    }
    &__content_block_cards {
      flex-wrap: wrap;
      flex-basis: 100%;
      flex-direction: row;
      order: 3;
    }
    &__content_block_issue {
      flex-wrap: wrap;
      flex-basis: 40%;
      order: 1;
    }
    &__content_block_users {
      flex-wrap: wrap;
      flex-basis: 40%;
      order: 2;
    }
  }
}
@media all and (max-width: 700px) {
  .game_page {
    &__side_bar {
      position: fixed;
      flex-direction: column;
      height: fit-content;
      z-index: 5;
      row-gap: 0;
    }
    &__content_wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__content_block_cards {
      flex-wrap: wrap;
      flex-direction: row;
      order: 3;
    }
    &__content_block_issue {
      flex-wrap: wrap;
      order: 2;
    }
    &__content_block_users {
      flex-wrap: wrap;
      order: 1;
    }
  }
  .game_round_status {
    width: 50px;
    height: 50px;
    color: white;
    font-weight: 600;
    font-size: 8px;
    line-height: 50px;
    letter-spacing: 2px;
    opacity: 0.7;
  }
}
