@import '../../layout/styles-config.scss';

.timer {
  @include flex($justify: center);
  @include font(36px);

  &__minutes,
  &__seconds {
    font-weight: 600;

    > :nth-child(1) {
      @include font($size: 15px, $align: left);
      padding-left: 8px;
    }

    > :nth-child(2) {
      @include flex();
    }

    input {
      height: 40px;
      width: 60px;
      border-radius: 5px;
      @include font(36px);
    }
  }
}
