@import '../../layout/styles-config.scss';

.timer {
  @include flex($justify: center, $align: flex-start);
  @include font(36px);
  width: 190px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 60px 45px 30px 15px/15px 30px 45px 60px;
  box-shadow: $card-shadow;
  background-color: $del-rio;
  color: $white;

  &__minutes,
  &__seconds {
    font-weight: 600;

    > :nth-child(1) {
      @include font($size: 15px, $align: left);
      padding-left: 8px;
    }

    > :nth-child(2) {
      @include flex($justify: center);
    }

    input {
      height: 40px;
      width: 60px;
      border-radius: 5px;
      @include font(36px);
    }
  }

  &__minutes {
    @include flex($direction: column, $align: flex-end);
  }

  &_wrapper {
    @include flex($direction: column, $align: flex-end);
  }

  &_wrapper &_warning {
    color: red;
    font-weight: 700;
    font-size: 18px;
  }
}
