@import '../../layout/styles-config';

.chat {
  cursor: pointer;
  background-image: url('../../assets/icons/icon__chat.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: 11.12px;
  right: 27px;
  bottom: 25.27px;

  &_icon {
    width: 19px;
    height: 13.21px;
  }
}
