@import '../../layout/styles-config';

.wrapper {
  width: 100%;
}

.userList {
  @include flex($direction: column, $wrap: wrap, $justify: center);
  width: 100%;
}

.title {
  @include font($size: 24px, $weight: bold);
  margin-bottom: 5px;
  padding: 5px 0;
  border-bottom: 1px dotted brown;
  border-top: 1px dotted brown;
  @include flex($direction: column);
}

.scoreCard {
  padding: 10px;
  width: 300px;
  height: 75px;
  @include flex($justify: center);
  box-shadow: $card-shadow;
  border-radius: $card-radius;
}

.cardWrapper {
  @include flex($justify: center, $wrap: wrap);
}

.cardsWrapper {
  @include flex($wrap: wrap, $justify: center);
}

.titleWrapper {
  width: 100%;
}
