@import '../../layout/styles-config';

.wrapper {
  @include flex($direction: column, $align: flex-start);
  & > * {
    margin: 10px 0;
  }
  .title {
    font-size: 16px;
  }
}

.loader {
  @include flex();
}

.label {
  @include font($size: 2.4rem, $weight: 400);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid $dark-brown;
  box-shadow: inset 0 1px 0 1px rgba(0, 0, 0, 0.2);
  padding: 1px 35px;
  margin: 0 10px 0 0;
}

.input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

.image {
  width: 83px;
  height: 83px;
  background-color: $sky-blue;
  border-radius: 50%;
  object-fit: cover;
}
