@mixin font($size, $weight: 400, $height: auto, $style: normal, $align: center) {
  font-size: $size;
  font-style: $style;
  line-height: $height;
  font-weight: $weight;
  text-align: $align;
}

@mixin flex($display: flex, $direction: row, $align: center, $justify: space-between) {
  display: $display;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin button($background: $dark-blue, $color: $white, $border: 1px solid #496a81, $border-radius: 3px) {
  background: $background;
  color: $color;
  border: $border;
  border-radius: $border-radius;
  box-sizing: border-box;
}
