@import '../../layout/styles-config';

.game_setting_row {
  @include flex();
  column-gap: 3%;
  > :nth-child(1) {
    text-align: left;
    align-self: flex-start;
    margin-bottom: 5px;
  }
  @include font($size: 24px, $weight: 400);
  font-family: sans-serif;
}

.game_setting_row:last-child {
  @include flex($direction: column);
}
