//main palette
$dark-blue: #2b3a67;
$middle-blue: #496a81;
$blue: #66999b;
$sage: #b3af8f;
$peach: #ffc482;

//secondary palette
$bright-blue: #60dabf;
$brown: #b7631a;
$dark-purple: #7d3488;
$pink: #e42b77;
$light-purple: #c34bad;
$purple: #a527b1;
$sky-blue: #24a6ac;
$light-green: #a1b261;
$green: #a1bb41;

//basic colors
$black: #000000;
$white: #ffffff;

//cards style
$card-shadow: -1px 2px 8px 1px rgba(34, 60, 80, 0.2);
$card-radius: 5px;
