//main palette
$dark-brown: #442a21;
$pinch-brown: #784838;
$pinch-brown-light: #78483830;
$middle-blue: #496a81;
$sage: #b3af8f;
$peach: #ffc482;
$blue-light: #0ff;

//secondary palette
$sandy-brown: #784838a6;
$sandy-brown-light: #795548c2;
$roman-coffee: #795548;
$brown: #b7631a;
$dark-purple: #7d3488;
$pink: #e42b77;
$light-purple: #c34bad;
$sky-blue: #24a6ac;
$light-green: #a1b261;
$green: #a1bb41;
$light-grey: #c4c4c4;
$del-rio: #b0978e;

//basic colors
$black: #000000;
$white: #ffffff;

//cards style
$card-shadow: -1px 2px 8px 1px rgba(34, 60, 80, 0.2);
$card-radius: 5px;
