//main palette
$black: #000000;
$dark: #00000030;
$middle-blue: #496a81;
$sage: #b3af8f;
$peach: #ffc482;
$blue-light: #0ff;

//secondary palette
$brown: #b7631a;
$dark-purple: #7d3488;
$pink: #e42b77;
$dirty-pink: #e42b7736;
$light-purple: #c34bad;
$sky-blue: #24a6ac;
$viking: #60dabf;
$light-green: #a1b261;
$green: #a1bb41;
$dirty-green: #a1bb4133;
$light-grey: #c4c4c4;
$alto: #d5d5d5;
$del-rio: #a3a3a3;

$greyColor: #828282;
$whiteColor: #ffffff;

//basic colors
$black: #000000;
$white: #ffffff;

//cards style
$card-shadow: 0 0 11px #585857c2;
$card-radius: 60px 45px 30px 15px/15px 30px 45px 60px; ;
