@import '../../../layout/styles-config';

.issueCard {
  position: relative;
  margin-bottom: 10px;
  padding: 20px;
  width: 300px;
  height: 75px;
  word-break: break-all;
  @include flex($justify: flex-start);
  border-radius: $card-radius;
  @include flex($align: center, $justify: space-between);
  box-shadow: $card-shadow;
  &.active {
    background-color: #03fc4e5c;
  }
}
.issueInfo {
  overflow: hidden;
  @include flex($direction: column, $justify: center, $align: flex-start);
}
.issueCurrent {
  @include font($size: 10px, $weight: 900, $height: 15px);
  text-transform: uppercase;
  color: red;
}
.issueName {
  font-size: 23px;
  white-space: nowrap;
  font-family: sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
}
.issuePriority {
  @include font($size: 12px, $height: 10px, $weight: 200);
  color: grey;
}
.btnRemove {
  @include flex();
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 45px;
  height: 45px;
  background-image: url(../../../assets/icons/icon__remove.svg);
  z-index: 1;
  &:hover {
    opacity: 0.6;
    transform: rotate(90deg);
    filter: invert(4%) sepia(27%) saturate(15048%) hue-rotate(21deg) brightness(52%) contrast(168%);
  }
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: $card-radius;

  &:hover {
    cursor: pointer;
    background-color: #03fc4e5c;
    opacity: 0.5;
  }
}
