@import '../../layout/styles-config';

.issueCard {
  margin-bottom: 10px;
  padding: 20px;
  width: 300px;
  height: 75px;
  @include flex($justify: flex-start);
  box-shadow: $card-shadow;
  border-radius: $card-radius;
  @include flex($align: center, $justify: space-between);
}
.issueInfo {
  height: 50%;
  @include flex($direction: column, $justify: center, $align: flex-start);
}
.issueCurrent {
  @include font($size: 10px, $weight: 900, $height: 15px);
  text-transform: uppercase;
}
.issueName {
  font-size: 23px;
}
.issuePriority {
  @include font($size: 10px, $height: 10px, $weight: 200);
  color: grey;
}
.btnRemove {
  background-repeat: no-repeat;
  background-size: contain;
  width: 45px;
  height: 45px;
  background-image: url(../../assets/icons/icon__remove.svg);
  &:hover {
    opacity: 0.5;
  }
}
