@import '../../layout/styles-config';

.issueCard {
  position: relative;
  margin-bottom: 10px;
  padding: 20px;
  width: 100%;
  height: fit-content;
  word-break: break-all;
  @include flex($justify: flex-start);
  box-shadow: $card-shadow;
  border-radius: $card-radius;
  @include flex($align: center, $justify: space-between);
  &.active {
    background-color: #60dabf;
  }
}
.issueInfo {
  overflow: hidden;
  width: 90%;
  @include flex($direction: column, $justify: center, $align: flex-start);
}
.issueCurrent {
  @include font($size: 10px, $weight: 900, $height: 15px);
  text-transform: uppercase;
}
.issueName {
  font-size: 23px;
}
.issuePriority {
  @include font($size: 10px, $height: 10px, $weight: 200);
  color: grey;
}
.btnRemove {
  z-index: 1;
  background-repeat: no-repeat;
  background-size: contain;
  width: 45px;
  height: 45px;
  background-image: url(../../assets/icons/icon__remove.svg);
  &:hover {
    opacity: 0.6;
    transform: rotate(90deg);
    filter: invert(31%) sepia(52%) saturate(15048%) hue-rotate(21deg) brightness(55%) contrast(103%);
  }
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &:hover {
    cursor: pointer;
    background-color: #60dabf;
    opacity: 0.5;
  }
}
