@import '../../../layout/styles-config';

.wrapper {
  margin-bottom: 15px;
  @include flex($direction: column, $align: flex-start, $wrap: wrap);

  .gameId {
    margin-right: 5px;
    padding: 3px;
    font-size: 16px;
    border: 1px #cccccc solid;
  }
  .tooltipContainer {
    position: relative;
    margin-bottom: 10px;
    @include flex($wrap: wrap);
    word-break: break-all;
    transition: all 0.2s;

    span {
      margin-right: 10px;
    }

    .tooltipText {
      position: absolute;
      top: 100%;
      left: 0;
      padding: 5px 0;
      width: 100%;
      visibility: hidden;
      background-color: $greyColor;
      color: $white;
      text-align: center;
      border-radius: 6px;
      font-size: 1.5rem;
      line-height: 1.1;
      border-radius: 60px 45px 30px 15px/15px 30px 45px 60px;
      z-index: 1;
    }
    .tooltipText:after {
      content: ' ';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $greyColor transparent;
    }
  }
  .tooltipContainer:hover .tooltipText {
    visibility: visible;
  }
  .btnWrapper {
    width: 100%;
    height: 70px;
    @include flex();

    :first-child {
      margin-right: 5px;
    }
    > * {
      width: 100%;
    }
  }
}
