@import '../../layout/styles-config';

.lobby {
  width: 100%;
  @include flex($align: center, $justify: center);
  .wrapper {
    margin-bottom: 15px;
    @include flex($direction: column, $align: flex-start);
    .gameId {
      margin-right: 5px;
      padding: 3px;
      font-size: 16px;
      border: 1px #cccccc solid;
    }
    .btnWrapper {
      width: 100%;
      @include flex();
      height: 70px;
      :first-child {
        margin-right: 5px;
      }
      > * {
        width: 100%;
      }
    }
  }
}

.content {
  padding: 30px;
  width: 65%;
  @include flex($direction: column, $align: center);
}

@media all and (max-width: 1500px) {
  .content {
    padding: 20px 30px;
    width: 70%;
  }
}

@media all and (max-width: 900px) {
  .content {
    padding: 20px 30px;
    width: 90%;
  }
}

@media all and (max-width: 450px) {
  .content {
    padding: 20px 30px;
    width: 90%;
    justify-content: center;
  }
}
