@import '../../layout/styles-config';

.logo {
  cursor: pointer;
  background-repeat: no-repeat;
  position: absolute;
  top: 11.12px;
  right: 27px;
  bottom: 25.27px;

  &_icon {
    width: 19px;
    height: 13.21px;
  }

  &_open {
    background-image: url('../../assets/icons/icon__chat.svg');
  }

  &_close {
    background-image: url('../../assets/icons/icon__cancel.svg');
  }
}
