@import '../../layout/styles-config';

.statisticsContainer {
  margin: 10px;
  width: 90%;
  @include flex($direction: column);
}
.link {
  margin: 5px;
  padding: 0 10px;
  min-height: 30px;

  @include font($size: 1.5rem, $weight: 400);
  @include button($background: $black, $color: $white);

  text-decoration: none;
  transition: all 0.2s linear;
  &:hover {
    @include button($background: $white, $color: $black);
  }
}
