@import '../../layout/styles-config';

.statisticsWrapper {
  padding: 20px 0;
  width: 90%;
  > :first-child {
    margin-bottom: 10px;
  }
}

.link {
  margin: 5px;
  min-height: 30px;
  padding: 5px 10px;
  @include font($size: 1.5rem, $weight: 400);
  @include button($background: $dark-brown, $color: $white);
  text-decoration: none;
  &:hover {
    @include button($background: $white, $color: $dark-brown);
  }
}
.cancel_button {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/images/close.ico);
  background-size: cover;
  cursor: pointer;
}

.cancel_button:hover {
  transform: scale(1.1);
}

.game_statistics_issue {
  @include flex($direction: column);
}

.game_statistics_cards {
  @include flex($direction: row);
  column-gap: 3px;
}
