@import '../../layout/styles-config';

.newComerList {
  padding: 10px;
  @include flex($direction: column);
  box-shadow: $card-shadow;
  border-radius: $card-radius;
  margin-bottom: 10px;
  .newComer {
    font-family: sans-serif;
  }
}

.title {
  @include font($size: 24px, $weight: bold);
  margin-bottom: 5px;
}

.btnContainer {
  @include flex();
  width: 150px;
}
